body{
    background-color: #f2f2f2;
}
.main{
    width: 400px;
    height: auto;
    border: 2px solid gray;
    margin: 0 auto;
    border-radius: 2em;
}
.inp{
    width: 100%;
    background-color: ;
    /* color: white; */
    border-radius: 13px;
    
 
}

.half{
    background-color: red;
}
.science{
    background-color: grey;
}
.head{
    width: auto;
    height: auto;
    background-color: black;
    margin-top: 1em;
padding-bottom: 2em;
}
h2{
    color: white;
    text-align: center;
    padding-top: 15px;
}